<div class="header">
  <h1>Site Rebuild</h1>
  <div class="menu">
    <a href='/'><div class="menu-item home">Home</div></a>
    <a href='/what-we-do'><div class="menu-item about">What We Do</div></a>
    <a href='/shop'><div class="menu-item shop">Shop</div></a>
    <a href='/resources'><div class="menu-item resources">Resources</div></a>
    <a href='/contact'><div class="menu-item contact">Contact</div></a>
    <a href='/action'><div class="menu-item action">Action</div></a>
    <a href="/cart"><div class="cart">
      <img src="../assets/images/shopping-cart.png" class="cart-image" alt="Shopping cart"><p class="cart-items">{{cartSize}}</p>
    </div></a>
  </div>

  <div class="login">
      <div *ngIf="isLoggedIn">
        <a class="name">{{userName}}</a> |
        <a (click)="logout()" class="auth">Log out</a>
      </div>
      <div *ngIf ="!isLoggedIn">
        <a (click)="login()" class="auth">Log in</a>
      </div>
  </div>
</div>
