<div class="header">
  <h1>Stonewall Wears</h1>
  <div class="menu">
    <a href='/'><div (click)="menuClick(home)" class="menu-item home home-active">Home</div></a>
    <a href='/what-we-do'><div (click)="menuClick(home)" class="menu-item about about-active">What We Do</div></a>
    <a href='/shop'><div (click)="menuClick(shop)" class="menu-item shop shop-active">Shop</div></a>
    <a href='/resources'><div (click)="menuClick(resources)" class="menu-item resources resources-active">Resources</div></a>
    <a href='/contact'><div (click)="menuClick(contact)" class="menu-item contact contact-active">Contact</div></a>
    <a href='/action'><div (click)="menuClick(action)" class="menu-item action action-active">Action</div></a>

    <a href="/cart"><div class="cart">
      <img src="../assets/images/shopping-cart.png" class="cart-image" alt="Shopping cart"><p class="cart-items">{{cartSize}}</p>
    </div></a>
  </div>

  <div class="login">
      <div *ngIf="isLoggedIn">
        <a class="name">{{userName}}</a> |
        <a (click)="logout()" class="auth">Log out</a>
      </div>
      <div *ngIf ="!isLoggedIn">
        <a (click)="login()" class="auth">Log in</a>
      </div>
  </div>
</div>
