<div class="footer">
  <div class="social-icons">
    <div class="icon-div"><a href="https://www.facebook.com/" target="blank"><img src="assets/images/facebook.png" alt="Facebook" class="icon"></a></div>
    <div class="icon-div"><a href="https://www.instagram.com" target="blank"><img src="assets/images/instagram.png" alt="Instagram" class="icon"></a></div>
    <div class="icon-div"><a href="https://www.pinterest.com/" target="blank"><img src="assets/images/pinterest.png" alt="Pinterest" class="icon"></a></div>
    <div class="icon-div"><a href="https://www.tumblr.com/" target="blank"><img src="assets/images/tumbler.png" alt="Tumblr" class="icon"></a></div>
    <div class="icon-div"><a href="https://twitter.com/" target="blank"><img src="assets/images/twitter.png" alt="Twitter" class="icon"></a></div>
    <div class="icon-div"><a href="https://www.youtube.com/" target="blank"><img src="assets/images/youtube.png" alt="Youtube" class="icon"></a></div>

  </div>
  <p>© copyright</p>
</div>
