<div class="slideshow-container">

  <div *ngIf="slideIndex == 1" class="mySlides fade">
    <img src="assets/images/hero1.jpg" style="width:100%">
    <div class="text">Caption Text</div>
  </div>

  <div *ngIf="slideIndex == 2" class="mySlides fade">
    <img src="assets/images/hero2.jpg" style="width:100%">
    <div class="text">Caption Two</div>
  </div>

  <div *ngIf="slideIndex == 3" class="mySlides fade">
    <img src="assets/images/hero3.jpg" style="width:100%">
    <div class="text">Caption Three</div>
  </div>

  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span *ngIf="currentSlide != 1" class="dot"></span>
  <span *ngIf="currentSlide == 1" class="dot active"></span>
  <span *ngIf="currentSlide != 2" class="dot"></span>
  <span *ngIf="currentSlide == 2" class="dot active"></span>
  <span *ngIf="currentSlide != 3" class="dot"></span>
  <span *ngIf="currentSlide == 3" class="dot active"></span>
</div>
