.product-details {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.alert {
  position: fixed;
  width: 375px;
  height: 48px;
  top: 65px;
  left: 50%;
  margin-left: -187.5px;
  color: white;
  background-color: rgba(49, 137, 239, .9);
  border: solid 1px #3189ef;
  text-align: center;
}

.close {
  float: right;
}

.product-images {
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: gray;
  float: left;
  margin-left: 20px;
}

.product-images img {
  width: 300px;
}

.product-images-thumbnails {
  margin-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  float: left;
  margin-left: 20px;
}

.product-images-thumbnails img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.product-info {
  text-align: left;
}

h2 {
  text-transform: capitalize;
}

label {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 10px;
}

button {
  width: 175px;
  padding: 11px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}

.add {
  background-color: #3189ef;
  color: white;
  border: none;
}

.add:hover {
  background-color: black;
}

.keep-shopping {
  border: 1px solid #3189ef;
  color: #3189ef;
}

.keep-shopping:hover {
  color: black;
  border: 1px solid black;
}
