<div class="product-details">
  <div class="product-images">
    <div *ngFor="let image of (productToDisplay | async)?.images"><img src="assets/images/{{ image }}" alt="{{ (productToDisplay | async)?.name }}"></div>
  </div>
  <div class="product-info">

    <h2>{{ (productToDisplay | async)?.name }}</h2>
    <h2>{{ (productToDisplay | async)?.price | currency }}</h2>

    <div *ngIf="(productToDisplay | async)?.colors !== []"class="form-group">
      <label for="color">Select color</label>
      <select class="form-control">
        <option *ngFor="let color of (productToDisplay | async)?.colors" value="{{ color }}">{{ color }}</option>
      </select>
    </div>

    <div *ngIf="(productToDisplay | async)?.sizes !== []" class="form-group">
      <label for="size">Select Size</label>
      <select class="form-control">
        <option *ngFor="let size of (productToDisplay | async)?.sizes" value="{{ size }}">{{ size }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="quantity">Quantity</label>
      <input type="number" name="quantity" class="form-control">
    </div>

    <button type="button" class="add">Add to Cart</button><br>
    <a href="/shop"><button type="button" class="keep-shopping">Keep Shopping</button></a>
    <br><br>
    <h3>Info</h3>
    <p>{{ (productToDisplay | async)?.info }}</p>
  </div>
</div>
