<div class="whatWeDo">
  <div class="images">
    <img src="assets/images/flag.jpg" alt="Pride flag">
    <img src="assets/images/flag.jpg" alt="Pride flag">
    <img src="assets/images/flag.jpg" alt="Pride flag">
    <img src="assets/images/flag.jpg" alt="Pride flag">
  </div>
  <div class="text">
    <h2>WE USE THE T-SHIRT AS A CANVAS TO PROMOTE LGBTQ EQUALITY, PRIDE, VISIBILITY AND JUSTICE.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <h2>WE MAKE GRAPHICS & PRODUCTS THAT SPARK CONVERSATION & RAISE AWARENESS.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <h2>WE OFFER RESOURCES FOR AND ABOUT LGBTQ PEOPLE.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <h2>WE ATTEND LGBTQ PRIDE EVENTS.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <h2>WE DONATE TO OTHER LGBTQ ORGANIZATIONS.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <h2>WE DO COLLABORATIONS.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <h2>REVEL & RIOT IS AN LGBTQ-RUN NON-PROFIT ORGANIZATION. OUR FUNDING COMES ENTIRELY FROM THE SALES OF OUR T-SHIRTS, AND DONATIONS. THANK YOU VERY MUCH FOR YOUR SUPPORT.</h2>
  </div>
</div>
