.whatWeDo {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.whatWeDo img {
  width: 300px;
  margin: 20px;
  margin-right: 40px;
}

h2 {
  margin-top: 20px;
}

p {
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .whatWeDo img {
    width: 150px;
    margin: 10px;
    margin-right: 20px;
  }
}
