.resource-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.resource-preview {
  margin-right: 15px;
  margin-bottom: 15px;
}

.resource-img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  .resource-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 600px) and (max-width: 100px) {
  .resource-list {
    grid-template-columns: 1fr 1fr;
  }
}
