<div class="contact-info">
  <h3>COMMENTS / QUESTIONS / SUGGESTIONS</h3>
  <p>info@site.com</p>
  <hr>
  <h3>COPYRIGHT POLICY</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore <hr>
  <h3>WHOLESALE</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p>sales@site.com</p>
  <hr>
  <h3>THE STORE</h3>
  <p>store@site.com</p>
  <hr>
  <h3>ART/DESIGN INQUIRIES</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <p>info@site.com</p>
</div>
