<div class="form-group">
  <select (change)="onChange($event.target.value)" class="form-control">
    <option value="Category">Category</option>
    <option value="T-Shirt">T-Shirts</option>
    <option value="Tank">Tanks</option>
    <option value="Sweatshirt">Sweatshirts</option>
    <option value="Accessory">Accessories</option>
    <option value="Sale">Sale</option>
  </select>
</div>

<div class="product-list">
  <div class="product" *ngFor="let product of products | async" (click)="goToProductPage(product.$key)">
    <img src="assets/images/{{ product.images[0] }}">
    <h2>{{ product.name }}</h2>
    <h3>{{ product.price | currency }}</h3>
  </div>
</div>

<!-- (class | async)?.numberOfStudent -->
