.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
  margin: 15px;
}

.product-list img {
  width: 250px;
  margin-bottom: 20px;
}

.form-control {
  margin-left: 17px;
  width: 200px;
}
