/* You can add global styles to this file, and also import other style files */
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 10px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
